 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><strong>주 사용 엔진 / 언어</strong><br><strong>Unity / C#</strong><br>Unreal Engine / Blueprint / C++</p>
                </div>
                <div class="col-lg-4">
                    <p><strong>수상 경력</strong><br>2019학년도 2학기 상명 창의융복합 통합성과대회 '오름스타트' <strong>대상</strong></p>
                    <p>상명대학교 제 2회 SM경진대회 게임 개발 부문 <strong>최우수상</strong></p>
                    <p>상명대학교 제 3회 SM경진대회 게임 개발 부문 <strong>우수상</strong></p>
                </div>
            </div>
        </div>
    </section>
