 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <iframe class="responsive-iframe" width="650" height="450" src="https://www.youtube.com/embed/IzKfuOor6l0" title="입속 멜로 발표영상" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <a href="{{ post.link }}">
                                <img src="img/GitHub-Logo.png" class="img-responsive img-centered" width="114" height="64" alt="{{ post.alt }}"><br>깃허브 링크
                            </a>
                            <ul class="list-inline item-details">
                                {% if post.engine %}
                                    <li>개발 엔진 및 언어:
                                        <strong>{{ post.engine }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>개발 기간:
                                        <strong>{{ post.project-date }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.role %}
                                    <li>역할:
                                        <strong>{{ post.role }}
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
